.card {
    background-color: white;
	width: 210px;
	height: 330px;
	/* width: 283px; */
	/* height: 400px; */
	padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card2 {
    background-color: white;
	/* width: 210px;
	height: 330px; */
	width: 283px;
	height: 400px;
	padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card__skeleton {
	background-image: linear-gradient(
		90deg,
		#ccc 0px,
		rgb(229 229 229 / 90%) 40px,
		#ccc 80px
	);
	background-size: 300%;
	background-position: 100% 0;
	border-radius: inherit;
	animation: shimmer 1.5s infinite;
}
.card__title {
	height: 25px;
	/* height: 40px; */
	margin-bottom: 15px;
}

.card__title2 {
	/* height: 25px; */
	height: 30px;
	margin-bottom: 15px;
}
.card__description {
	height: 140px;
    margin: 10px 0;
}
@keyframes shimmer {
	to {
		background-position: -100% 0;
	}
}